APP_NAME=RustFS

APP_DESCRIPTION=RustFS is a distributed file system written in Rust.

API_BASE_URL=http://localhost:9000/api

# 测试 S3 凭证，控制台创建，仅本地调试使用
S3_ENDPOINT=http://localhost:9000
S3_REGION=us-east-1
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
