{
  "api": {
    "baseURL": "<PROTOCOL>://<HOST>:<PORT>/rustfs/admin/v3"
  },
  "s3": {
    "endpoint": "<PROTOCOL>://<HOST>:<PORT>",
    "region": "<REGION>"
  },
  "release": {
    "version": "<RELEASE_VERSION>",
    "date": "<RELEASE_DATE>"
  },
  "license": {
    "name": "Apache-2.0",
    "expired": "1744017568"
  }
}
